<html>

  <head>
    <title>GTFO</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script type="text/javascript" src="/scripts/jquery-2.1.3.js"></script>
  </head>

<body>

    <div class="header clearfix">
      <a href="/" class="logo"></a>
      <a class="main_navigation" href="/">TOPICS</a>
    </div>

    <%= yield %>
  
  <script src="/scripts/script.js"></script>
</body>

</html>
