@import url(https://fonts.googleapis.com/css?family=Catamaran:400,900,500,100);

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Catamaran;
  text-align: center;
  color: #ffffff;
  background-color: #EDEDEB;
}

/* copied from other file */


.header {
  padding: 10px 30px 10px 25px;
  border-bottom: 1px solid #fff;
  height: 340px;
  background: url("../images/travel_header.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}


.logo {
  display: block;
  height: 95%;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}

.logo img {
  height: 100%;
}


.main_content {
  padding: 30px;
}


a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
}


nav {
  padding: 15px;
  background-color: #D8AE48;
  border-radius: 40px 0 40px 0;
}

h1 {
  font-size: 30px;
  margin: 10px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
}

.main-greeting {
  font-size: 24px;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #8F9A95;
  color: #454F51;
  font-weight: 900;  
}

.quote {
  font-weight: 500;
}

.topic-wrapper {
  padding: 20px 50px;
}

.topic-tile {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}

.topic-tile a {
  color: #173444;
  font-weight: 500;
}

/*.topic-tile img {

  max-height: 200px;
  height: auto;
  width: 100%;
}*/

.one-topic a {
  font-weight: 900;
  color: #728E9D;
  font-size: 45px;
}

.image-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.no-posts {
  color: #728E9D;
  font-size: 17px; 
}

/* Forms */

.log-container {
  background-color: #728E9D;
}

.form-container {
  background-color: #728E9D;
  padding-top: 12px;
  display:none;
}

.invalid {
  background-color: #173444;
  padding-top: 12px;
}

.show-form {
  background-color: #454F51;
  font-weight: 600;
  color: #EDEDEB;
  position: relative;
}

.show-form:hover { 
  background-color: #173444;
}

.show-form:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(73, 99, 115, 0);
  border-top-color: #454F51;
  border-width: 11px;
  margin-left: -11px;
}

.show-form:hover:after {
  border-top-color: #173444;
}


.form {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.form div.input-row {
  padding: 6px;
}

.form div.input-row label {
  vertical-align: top;
  font-size: 16px;
  display: inline-block;;
  width: 200px;
}

.form div.input-row input,
.form div.input-row textarea {
  font-size: 16px;
  width: 440px;
  height: 30px;
  padding: 6px;
  color: #000;
  border: 1px solid #fff;
}


.form div.input-row textarea {
  height: 90px;
}

.form div.input-row input[type=submit] {
  font-size: 18px;
  color: #fff;
  background-color: #173444;
  border: 1px solid #173444;
  padding: 6px 20px;
  width: auto;
  height: auto;
  cursor: pointer;
}

/* List Items */

.main_navigation {
  float: right;
  font-weight: 800;
  color: #fff;
  display: inline-block;
  padding: 0;
}

.main_navigation>li:hover {
  background: rgba(0, 0, 0, 0.2);
}


.main_navigation>li {
  display: inline-block;
  font-size: 20px;
  position: relative;
  padding: 0 7px;
  border: 4px solid #fff;
  margin-left: 10px;
}

.main_navigation a {
  text-decoration: none;
  display: inline-block;
}

.main_navigation li ul.sub_main_navigation {
  position: absolute;
  top: calc( 100% + 4px );
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.main_navigation li:hover ul.sub_main_navigation {
  display: block;
  padding: 0;
}

.main_navigation li ul.sub_main_navigation a {
  padding: 6px 20px;
  line-height: 23px;
  background-color: rgba(0,0,0,0.2);
  border-bottom: 4px solid #fff;
}

.main_navigation li ul.sub_main_navigation a:hover{
    background: rgba(0, 0, 0, 0.4);
}

.sub_main_navigation li {
  list-style: none;
}

/* Voting */

.vote {
  color: #000;
  margin: 10px 0 0 0;
}

.vote form {
  margin: 0;
}

.vote div {
  font-size: 13px;
}

.like input {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #728E9D;
  border: 1px solid #728E9D;
  padding: 6px 20px;
  cursor: pointer;
}

/* Comments */

.comments {
  color: #000;
}

.one-comment {
  padding: 25px 0 0 0;
}

.user {
  margin-left: 4%;
  width: 16%;
  float: left;
  line-height: 85px;
  background-color: #fff;
  position: relative;
}


.user:after {
  left: 100%;
  border: solid;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent transparent transparent #ffffff;
  border-width: 42.5px 0 42.5px 20px;
}

.comment-body {
  margin-left: 3%;
  width: 60%;
  float: left;
  min-height: 85px;
  background-color: #fff;  
}

.comment-body p,
.comment-body h1,
.comment-body h2, {
  margin: 0;
}

.like-comment {
  margin-left: 2%;  
  width: 13%;
  float: left;
}

